<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My flask app</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <style>
        .my-input{
            height: 20px;
            width: 100%;
            background-color: #e5e7eb;
            border: 1px solid #d1d5db;
            border-radius: 25px;
            outline: none;
        }
    </style>

</head>
<body>
    <input type = "text" class="my-input">
    <!-- <div class="photo-container"></div> -->
</body>
</html>